# OS
.DS_Store

# Env
.env
**/.env

# Dependencies
node_modules/
**/node_modules/

# React Router
.react-router/
**/.react-router/

# Build
build/
dist/
**/build/
**/dist/

# IDE
.vscode/
.idea/

# Logs
npm-debug.log*